/* Untuk PC */
@media all and (min-width: 1001px) {
    #main {
        height: 65vh;
    } 

    #main > svg {
       display: none;
    }

    .hero-section {
        text-align: center;
    }

    .hero-section h1 {
        font-size: 70px;
    }

    .lead {
        font-size: 20px;
    }

    #contact {
        margin-top: 4%;
    }

    header {
        opacity: 1;
        position: fixed;
        z-index: 10;

    }

    .btn-sm {
        padding: 7px 15px;
        border-radius: 20px;
    }

    #contact > input {
        padding: 7px 20px;
        margin-bottom: 20px;
    }

    .lesson {
    width: 25%;
    float: left;
    }

    .container {
        padding-bottom: 600px;
    }
    .less {
        width: 100%;
        margin-bottom: 35px;
    }

}

/* untuk tablet */
@media all and (min-width: 671px){
    #contact {
        margin-top: 4%;
    }

    .lesson {
        width: 50%;
        float: left;
    }
    .container {
        padding-bottom: 900px;
    }
    .less {
        width: 100%;
        margin-bottom: 35px;
    }
}